:root{
    --vermelho:#E50914;
    --preto:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos principais*/

body{
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header .subtitle {
    margin-left: 5px;
    color: rgb(148, 95, 93);
    font-family: 'Arial', Times;
    font-size: 20px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-left: 10px;
    margin-top: 10px;
}

header nav a:hover{
    color: #fff;
}

/* filme principal*/ 
.filme-principal{
    font-size: 16px;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, .50)100%), url(../img/1.jpg);

    height: 400px;
    background-color: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-principal .descricao{
    margin-bottom: 90px;
    margin-top: 10px;
}

.filme-principal.título{
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin-top: 15%;
}
.botao{ 
    background-color: rgba(0,0,0, .50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 12px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:white;
    color: black;
}

.botao i{
    margin-right: 5px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 60%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display:block;
}

.carrosel-filmes{
    margin-top: 5px;
    cursor:pointer;
   
}
